body {
  background-color: rgb(16, 30, 27);
  display: inline;
  color: aliceblue;

  justify-content: center;
}

.main {
  align-items: center;
  padding: 50px;
  margin: 50px 150px 50px;
  border-radius: 10px;
}

#msg {
  padding: 10px;
  width: 70%;
  height: 200px;
  border: 2px solid rgb(18, 11, 11);
  border-radius: 10px;
  background-color: rgb(68, 70, 71);
}
.title {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 7px 30px;
  margin: 0px 0px 0px 30px;
  font-weight: 700px;
  font-size: 1.3em;
  background-color: rgb(2, 44, 45);
}

.output {
  width: fit-content;
  padding: 15px 40px;
  margin: 50px 0px;
  border: 3px solid black;
  font-size: 1.25em;
  background-color: rgb(44, 87, 92);
}
